[submodule "ADNHttpServerLibrary/3rdParty/qhttp"]
	path = ADNHttpServerLibrary/3rdParty/qhttp
	url = https://github.com/azadkuh/qhttp.git
[submodule "ADServerLibrary\\3rdParty\\qhttp"]
	path = ADServerLibrary\\3rdParty\\qhttp
	url = https://github.com/Antony007/qhttp.git
